:root {
  /* Cor do background */
  --background-color: #2B2C33;
  --separator-color-primary: rgba(173, 179, 187, 0.48);
  /* Cor do header, footer e outros elementos principais */
  --primary-color: #2E3246;

  /* Cor dos painéis */
  --secundary-color: #384170;

  /* Cor do texto nos painéis */
  --text-color-primary-light: #cdd7f7;

  /* Cores do botão principal */
  --button-color-primary: #34439B;
  --button-color-primary-hover: #213AC5;

  /* Espaçamentos padrões */
  --default-spacing:8px;
  --default-border-radius:8px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: var(--text-color-primary-light);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  text-align: justify;
}

.app{
  margin: auto;
  width: 360px;
}

.app h1{
  margin-top: 8px;
  margin-bottom: 32px;
  width: 100%;
  justify-content: center;
}

button{
  background-color: var(--button-color-primary);
  padding: var(--default-spacing);
  border-radius: var(--default-border-radius);
  color: var(--text-color-primary-light);
  cursor: pointer;
}

button:hover{
  color: #fff;
  filter: brightness(0.6);
  background-color: var(--button-color-primary-hover);
}

.div-pattern{
  margin: calc(2 * var(--default-spacing));
  padding: calc(2 * var(--default-spacing));
  display: flex;
  flex-direction: column;
  border: 1px solid var(--separator-color-primary);
  border-radius: var(--default-border-radius);
}

.form-players input{
  padding: 8px;
  border-radius: var(--default-border-radius);
  width: 64px;
}

.config input{
  margin: 8px;
}

.form-players h2{
  margin: 8px;
}

.players-item{
  display: flex;
  margin: 16px;
  justify-content: space-between;
}

.confirm-option, .modal-options{
  display: flex;
  margin: 16px;
  align-items: center;
  justify-content: center;
}

.button-confirm{
  width: 50%;
}

.modal-body{
  background-color: var(--background-color);
}

.modal-body input{
  margin: 8px 0 8px 0;
  padding: 8px;
  border-radius: var(--default-border-radius);
}

.modal-form{
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.times{
  margin: 16px 0 16px 0;
}

.item-time{
  display: flex;
  flex-direction: column;
  margin: var(--default-spacing);
}

.item-time li{
  margin-left: calc(3 * var(--default-spacing));
}

.link{
  cursor: pointer;
}