@import url('https://fonts.googleapis.com/css2?family=Inter');
:root {
  /* Cor do background */
  --background-color: #14142B;
  --separator-color-primary: rgba(173, 179, 187, 0.48);
  /* Cor do header, footer e outros elementos principais */
  --primary-color: #2E3246;

  /* Cor dos painéis */
  --secundary-color: #384170;

  --black2:#181829;

  /* Cor do texto nos painéis */
  --text-color-primary-light: #FFFFFF;
  --text-color-secondary-light: #65656B;

  /* Cores do botão principal */
  --button-color-primary: #246BFD;
  --button-color-primary-hover: #213AC5;

  /* Espaçamentos padrões */
  --default-spacing:8px;
  --default-border-radius:8px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif !important;
  color: var(--text-color-primary-light);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  text-align: justify;
}

input{
  border: none;
  background-color: var(--black2);
  color: var(--text-color-primary-light);
}

.app{
  margin: auto;
  width: 360px;
  margin-bottom: 16px;
}

.app h1{
  margin-top: 8px;
  margin-bottom: 16px;
  width: 100%;
  justify-content: center;
}

.main_title{

}

button{
  background-color: var(--button-color-primary);
  padding: var(--default-spacing);
  border-radius: var(--default-border-radius);
  color: var(--text-color-primary-light);
  cursor: pointer;
  border: none;
}

button:hover{
  color: #fff;
  filter: brightness(0.6);
  background-color: var(--button-color-primary-hover);
}

.div-pattern{
  /* margin: calc(2 * var(--default-spacing)); */
  padding: calc(2 * var(--default-spacing));
  display: flex;
  flex-direction: column;
  border: 1px solid var(--separator-color-primary);
  border-radius: var(--default-border-radius);
}

.form-players{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-players input{
  padding: 8px;
  border-radius: var(--default-border-radius);
  width: 64px;
}

.config input{
  margin-top: 8px;
}

.form-players h2{
  /* margin: calc(2 * var(--default-spacing)); */
}

.players-item{
  display: flex;
  margin: 8px;
  justify-content: space-between;
  border-bottom: 1px solid #222232;
}

.confirm-option, .modal-options{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button-confirm{
  width: 50%;
}

.button-vini{
  width: 100%;
}

.button-style2{
  background: rgb(244,165,138);
background: linear-gradient(90deg, rgba(244,165,138,1) 0%, rgba(237,107,78,1) 100%);
}

.modal-body{
  background-color: var(--background-color);
}

.modal-body input{
  margin: 8px 0 8px 0;
  padding: 8px;
  border-radius: var(--default-border-radius);
}

.modal-form{
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.times{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item-time{
  display: flex;
  flex-direction: column;
  margin: var(--default-spacing);
}

.item-time li{
  margin-left: calc(3 * var(--default-spacing));
}

.link{
  cursor: pointer;
}

.separe-itens{
  display: flex;
}

.div-space{
  margin-bottom: 16px;
}